@model List<SchoolWithDepartmentsDto>

@{
    ViewData["Title"] = "Okul Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<h2 class="mb-4">Okul Listesi</h2>

<a href="/AdminMvcSchool/AddSchool" class="btn btn-primary btn-rounded mb-3">Yeni Okul Ekle</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Okul Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <td>@school.Id</td>
                <td>@school.Name</td>
                <td>
                    <a href="/AdminMvcSchool/SchoolDepartments/@school.Id"
                       class="btn btn-sm btn-outline-info">
                        Bölümleri Göster (@school.Departments?.Count)
                    </a>
                    <a href="/AdminMvcSchool/UpdateSchool/@school.Id" class="btn btn-sm btn-outline-warning">Güncelle</a>
                    <a href="/AdminMvcSchool/DeleteSchool/@school.Id" class="btn btn-sm btn-outline-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
