
@{
    ViewData["Title"] = "Bölüm Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model SchoolWithDepartmentsDto

<h3>@Model.Name Bölümleri</h3>

<h2>Toplam Bölüm Sayısı:@Model.Departments.Count</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Bölüm Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dept in Model.Departments)
        {
            <tr>
                <td>@dept.Id</td>
                <td>@dept.Name</td>
          
            </tr>
        }
    </tbody>
</table>
