
@{
    ViewData["Title"] = "Okul Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model SchoolUpdateDto



<h2 class="mb-4">Okul Güncelle</h2>

<form asp-action="UpdateSchool" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label for="Name">Okul Adı</label>
        <input asp-for="Name" class="form-control form-control-lg" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning btn-rounded">Güncelle</button>
    <a href="/AdminMvcSchool/Index" class="btn btn-secondary btn-rounded">İptal</a>
</form>
