
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<p>Admin paneline hoş geldiniz!</p>

<p>Hoş geldiniz, <strong>@ViewData["UserName"]</strong></p>
<p>Email: <strong>@ViewData["Email"]</strong></p>
