@{
    ViewData["Title"] = "Bölüm Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model AddDepartmentDto

@{
    var schools = ViewBag.Schools as List<GetSchoolDto>;
    int selectedSchoolId = ViewBag.SchoolId ?? 0;
}

<h2>Bölüm Ekle</h2>

<form asp-controller="AdminMvcDepartment" asp-action="AddDepartment" method="post">
    <div class="form-group">
        <label asp-for="Name">Bölüm Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SchoolId">Okul</label>
        <select asp-for="SchoolId" class="form-control" asp-items="@(new SelectList(schools, "Id", "Name", selectedSchoolId))">
            <option value="">-- Okul Seçin --</option>
        </select>
        <span asp-validation-for="SchoolId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" asp-controller="AdminMvcDepartment"  class="btn btn-secondary">Geri Dön</a>
</form>
