@model UserDto

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="#">
            <img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" />
        </a>
        <a class="sidebar-brand brand-logo-mini" href="#">
            <img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" />
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle" src="~/images/sirin-Photoroom.png" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">@Model?.UserFullName</h5>
                        <span>Admin</span>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item nav-category">
            <span class="nav-link">Yönetim</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/Admin/Dashboard">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcUser">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Kullanıcılar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcAppointment">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Randevular</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcSchool">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Okullar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcDepartment">
                <span class="menu-icon">
                    <i class="mdi mdi-office-building"></i>
                </span>
                <span class="menu-title">Bölümler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcCourse">
                <span class="menu-icon">
                    <i class="mdi mdi-book-open-page-variant"></i>
                </span>
                <span class="menu-title">Dersler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcMessage">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Message</span>
            </a>
        </li>
        
      
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcRoom">
                <span class="menu-icon">
                    <i class="mdi mdi-door"></i>
                </span>
                <span class="menu-title">Odalar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcNotification">
                <span class="menu-icon">
                    <i class="mdi mdi-bell-ring"></i>
                </span>
                <span class="menu-title">Bildirimler</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

       
    </ul>
</nav>
