<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                        <span>Gold Member</span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/Admin">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcUser">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Kullanıcılar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcSchool">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Okullar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcMessage">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Message</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcAppointment">
                <span class="menu-icon">
                    <i class="mdi mdi-school"></i>
                </span>
                <span class="menu-title">Randevular</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcDepartment">
                <span class="menu-icon">
                    <i class="mdi mdi-office-building"></i>
                </span>
                <span class="menu-title">Bölümler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcCourse">
                <span class="menu-icon">
                    <i class="mdi mdi-book-open-page-variant"></i>
                </span>
                <span class="menu-title">Dersler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcRoom">
                <span class="menu-icon">
                    <i class="mdi mdi-door"></i>
                </span>
                <span class="menu-title">Odalar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/AdminMvcNotification">
                <span class="menu-icon">
                    <i class="mdi mdi-bell-ring"></i>
                </span>
                <span class="menu-title">Bildirimler</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

       
    </ul>
</nav>
