@model UserCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Yeni Kullanıcı Ekle";

}


<div class="container mt-4">
    <h2>Yeni Kullanıcı Ekle</h2>
    <hr />

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label for="UserName" class="form-label">Kullanıcı Adı</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Şifre</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a href="@Url.Action("Index", "AdminUserMvc")" class="btn btn-secondary">İptal</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


