
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Kullanıcıyı Düzenle";

}

@model UserUpdateDto


<div class="container mt-4">
    <h2>Kullanıcıyı Düzenle</h2>
    <hr />

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="UserName" class="form-label">Kullanıcı Adı</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a href="@Url.Action("Index", "AdminUserMvc")" class="btn btn-secondary">İptal</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

